# AEA Sandbox defaults
AWS_PROFILE=aea-sandbox
AWS_DEPLOY_PROFILE=aea-deploy
AWS_REGION=us-east-2
AWS_ACCOUNT_ID=287238357427
STACK_NAME=AeaSandboxStack

DB_NAME=aea
DB_USER=aea_developer
DB_PORT=5432
LOCAL_PORT=15432
